<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        
	<bean id="userService" class="service.Userservice">
	 <property name="name">
	  <value>hongqiao</value>
	 </property>
	 <property name="byeservice" ref="byeService"></property>
	</bean>
	<bean id="byeService" class="service.Byeservice">
	 <property name="name"> 
	  <value>liu</value>
	 </property>
	</bean>

 </beans>