<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        

<bean id="changeLetter" class="inter.LowerLetter">
<property name="str">
 <value>ABCDEF</value>
</property>
</bean>
<!-- <bean id="changeLetter" class="inter.UpperLetter">
 <property name="str">
 <value>abcdef</value>
</property>
</bean>-->
 </beans>