<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >
        

<bean id="student" class="ioc.Student">
<property name="name">
 <value>小猪</value>
</property>
</bean>
<bean name="studentfactory" class="ioc.StudentFactory" factory-method="createStudent"></bean>
 </beans>